# Backend (Laravel)
backend/.env
backend/vendor/
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*

# Frontend (React)
frontend/node_modules/
frontend/.env
frontend/build/

# Общее
.DS_Store
.idea
*.log
